{% extends 'base.html' %}
{% block title %}StreamQueens: My Account{% endblock %}

{% block body %}
<div id="account-watchlist">
    <h1>{{email}}'s Watchlist</h1>
    <div class="container">
      <div class="row" style="overflow:auto">
{% for movie in all_watched %}

<div class="col-lg-3 d-flex align-items-stretch">
<div class="card card-block" style="width: 18rem;">
  <img class="card-img-top" href= "{{movie.link}}" 
  src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="{{movie.title}}"
  data-toggle="modal" data-target="#myModal">
  
  <h5 class="card-title">{{movie.title}}</h5>
{%for rating in all_ratings%}
{%if rating.movie_id == movie.movie_id%}
<h6 class="card-subtitle mb-2 text-muted">Your StreamQueens Rating:{{rating.rating}}</h6>
{%endif%}
{%endfor%}
    <form style="display: flex;" action="/ratemovie" id="ratemovie">
    <div class="form-group">
      <select class="form-control" id="rating">  
        <option value="1">1 star<br>
          <option value="2">2 stars<br>
          <option value="3">3 stars<br>
          <option value="4">4 stars<br>
          <option value="5">5 stars<br>
          </select>
    </div>
    <input type="hidden" id="movie_id" value="{{movie['movie_id']}}"/>
    <input class="btn btn-outline-secondary" type="submit" value="Rate!"/>
</form> 
<form action="/removefromwatchlist" id="removemovie" value="{{movie}}">
  <button class="btn btn-outline-light btn-sm" type="submit" id="movie" value="{{movie['movie_id']}}">Remove from Watchlist</button></form>
</div>
</div>
    {%endfor%}
  </div>
  </div>
</div>
    <script src="/static/account.jsx"></script>
    {% endblock %}
