<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

{% extends 'base.html' %}
{% block title %}StreamQueens{% endblock %}

{% block body %}

<div>
  <h1 class="header-center">Create a Search</h1>
<div class="form-center">
   <!-- <h2>Create a New Search</h2> -->
  <form action="/createdsearch" id="get-movies" style="width: 50%">
    <div class="form-group">
    <fieldset>      
      
        
      <div class="form-group">
      <label>Select a Genre</label>
        <select class="form-control" id="genre-id">      
        {%for key, value in genres.items()%}
        <option value="{{key}}">{{value}}</option>
        {%endfor%}
        </select>    
        <br>
        <div class="form-group">
          <label>Movie or Show?</label>
          <select class="form-control" id="result_type">   
        <option value="movie">Movie</option>  
        <option value="series">Show</option>
          </select>
        <br>
        <div class="form-group">
          <label>Exclude shows/movies in your watchlist?</label>
          <select class="form-control" id="exclude_watchlist">  
          <option value="no">No</option>
          <option value="yes">Yes</option>  
          </select>
        </div>
        
        <br>
      
        <div class="form-group">
            <label>Select 1 or more streaming services</label>
            <select multiple class="form-control" id="service">
        <option value="netflix">netflix<br>      
        <option value="hulu">hulu<br>      
        <option value="prime">prime<br>  
        <option value="disney">disney<br>
        <option value="hbo">hbo<br>
        <option value="peacock">peacock<br>
        <option value="paramount">paramount<br>
        <option value="starz">starz<br>
        <option value="showtime">showtime<br>
        <option value="apple">apple<br>  

      </select>
      </div>
        <br>      
        <button type="submit" class="btn btn-outline-light" value="Submit">Submit</button>  
    </fieldset>      
    </div>
</form>
</div>

<div id="disply-movie" style="display: flex;">
  
  <div class="container-fluid">
    <div class="row flex-row flex-nowrap" id="title">
  </div>
</div>
</div>
</div>
<script src="/static/app.jsx"></script>
</div>
{% endblock %}