{% extends 'base.html' %}
{% block title %}StreamQueens{% endblock %}

{% block body %}
  <h1>StreamQueens Homepage</h1>


  <form action="/login" method="POST">
    <p>
      <b>Login</b>&nbsp;
      Email <input type="text" name="email">
      Password <input type="password" name="password">
      <input type="submit">
    </p>
  </form>
<p>Don't have an account yet?</p>
<form action="/newaccount" method="POST">
  <p>
    <b>Create an Account</b>&nbsp;
    Email <input type="text" name="email">
    Password <input type="password" name="password">
    <input type="submit">
  </p>
</form>

  <h2>Create a New Search</h2>
  <form action="/createdsearch" id="get-movies">      
    <fieldset>      
        <legend>Select a genre</legend>    
        <select id="genre-id">
        <option value="18">Drama</option>  
        <option value="12">Adventure</option>  
        <option value="14">Fantasy</option>  
        </select>    
         
        <br>
        <legend> Select streaming services </legend>
        <select multiple id="service">
        <option value="netflix">netflix<br>      
        <option value="hulu">hulu<br>      
        <option value="prime">prime<br>  
        <option value="disney">disney<br>
        <option value="hbo">hbo<br>
        <option value="peacock">peacock<br>
        <option value="paramount">paramount<br>
        <option value="starz">starz<br>
        <option value="showtime">showtime<br>
        <option value="apple">apple<br>  

      </select>
        <br>      
        <input type="submit" value="Submit" />      
    </fieldset>      
</form>
<div id="disply-movie">
  <h1>Movie Results</h1>
  <dl>
  
    <dd id="title">Unkown</dd>
  </dl>
</div>
<script src="/static/app.jsx"></script>
{% endblock %}